version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    # Check for updates every Monday
    schedule:
      interval: "weekly"
  - package-ecosystem: rust-toolchain
    directory: "/"
    # Check for updates every Monday
    schedule:
      interval: "weekly"
