name: Analysis

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  analysis:
    name: Format, Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Add rustfmt and clippy
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt, clippy
      - name: Formatting
        run: cargo fmt -- --check
      - name: Linting
        run: cargo clippy -- -D warnings
